.albums
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  width: 100%
  padding: 20px

  &__tumb
    margin: 15px
    width: 270px
    height: 170px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    display: flex
    flex-direction: column-reverse

  &__tumb-text
    color: white
    text-align: center
    padding: 0 10px

