.slider
  overflow: hidden
  width: 900px
  height: 450px
  margin: 0 auto

  figure
    position: relative
    margin: 0
    left: 0
    text-align: left
    font-size: 0

    img
      width: 900px
      max-height: 100%
      float: left
    div
      width: 900px
      height: 450px
      background-size: cover
      background-position: center
      max-height: 100%
      float: left

  &__slider-item
